<!DOCTYPE html>
<html lang="en">
<head>
  <title>Busqueda</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>

<div class="container">
<div><a class="btn btn-default" href="./">Regresar a la busqueda</a></div>
<div class="row well-lg">
  <div class="col-md-6 well-sm">
    <table class="table" width="100%" id="tab">
      <tbody>
        
      </tbody>
    </table>
  </div>
    <div class="col-md-6 well-sm">
    {{pais}}
    <div class="row">
      <div class="col-md-12" style="height: 500px" id="map">
        
      </div>
      <div class="col-md-12">
            <div class="row text-center">
        <div class="col-xs-6">
          <figure>
            <img src="https://img.clipartfest.com/16882c2964cec42f09bc36bb12b14f71_male-clipart-male-clipart_228-587.png" alt="" width="10%" id="male">
            <figcaption id="malet">Male</figcaption>
          </figure>
        </div>
        <div class="row text-center">
        <div class="col-xs-6">
          <figure>
            <img src="https://img.clipartfox.com/424ec32695f20bf8ed5e35b218662884_-art-projects-reports-and-female-art-projects-clipart_300-600.png" alt="" width="10%" id="female">
            <figcaption id="femalet">Female</figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
  <script src="https://maps.googleapis.com/maps/api/js?key={{API}}&libraries=places" async defer></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script>

  var geocoder, map;

function codeAddress(address,zoom) {
    geocoder = new google.maps.Geocoder();
    geocoder.geocode({
        'address': address
    }, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
            var myOptions = {
                zoom: zoom,
                center: results[0].geometry.location,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            map = new google.maps.Map(document.getElementById("map"), myOptions);

            var marker = new google.maps.Marker({
                map: map,
                position: results[0].geometry.location
            });
        }
    });
}

var male = 0,female = 0;

$( document ).ready(function() {
      var pais = "{{pais}}";

      codeAddress(pais,4);

      if(pais === "India")
          codes = "IND";
        else
          codes = "PMA";

        $.ajax({url: "http://services.groupkt.com/state/get/"+codes+"/all", 
          success: function(result){
                $.each(result.RestResponse.result, function() {
                    $("#tab tbody").append('<tr class="child" onclick="mapa(this)" data-name="'+this.name+'"><td>'+this.name+'</td></tr>');
                });
        }});

        $.ajax({url: "http://api.population.io:80/1.0/life-expectancy/total/male/{{pais}}/1980-01-10/", 
            success: function(result){
                male = result.total_life_expectancy;
                setimg();
    }});
        $.ajax({url: "http://api.population.io:80/1.0/life-expectancy/total/female/{{pais}}/1980-01-10/", 
            success: function(result){
                female = result.total_life_expectancy;
                setimg();
    }});


});

    function setimg(){
      console.log(male);
      console.log(female);
      if(male == 0 || female == 0){

      }else{
        if(male > female){
          $("#male").css("width", '20%');
        }else
        {
          $("#female").css("width", '20%');
        }
        $("#malet").text('Male '+ male);
        $("#femalet").text('Female ' + female);
      }
    }


    function mapa(tabrow){
      codeAddress($(tabrow).data("name"),7);
    }
</script>
</body>
</html>
